:root {
  --text: #ffffff;
  --title-size: 3rem;
  --text-size: 1.5rem;
  --color-group-size: 2rem;
  --label-size: 1.25rem;
  --disabled-text: #5a5a5a;

  /* Background */
  --background-gradient-start: #1d101d;
  --background-gradient-end: #381e2d;

  /* Color Chip Biases */
  --icon-none-bias: #a9a19f;
  --icon-power-bias: #b89192;
  --icon-support-bias: #a296b2;
  --icon-range-bias: #b1947a;
  --icon-mobility-bias: #90a2ba;
  --icon-lucky-bias: #bac277;
  --icon-drone-bias: #88b7a3;

  /* Main Glow Effect */
  --text-glow: #ad5431;
  
  /* Buttons, Selects */
  --button-background: rgba(0, 0, 0, 0.35);
  --button-highlight-border: #988e85;
  --button-highlight-background: #615755;
  --button-active-background: #312c2b;

  --button-disabled-background: rgba(22, 22, 22, 0.35);
  --button-disabled-highlight-background: #3a3332;
  --button-disabled-highlight-border: #988e85;

  /* Group Gradient */
  --color-group-gradient-start: #5e4242;
  --color-group-gradient-end: rgba(94, 66, 66, 0);

  /* Aside */
  --list-divider: #615755;

  /* Upper */
  --bottom-row-background-start: #372941;
  --bottom-row-background-end: #b8999a;
  --bottom-row-section-background: #2f2a30;
  --drone-ability-circle: #f0d2da;
  --drone-ability-circle-overcap: #b83659;
  /* Upper background #312f2e */
  /* Ability background rgba(0,0,0,.8) */

  /* Palette */
  --palette-background: #ffffff;
  --color-chip-slot-background: #d3d3d3;
  --color-chip-slot-locked: #262626;
  --color-chip-drop-shadow: #000000;
}

@font-face {
  font-family: Splatoon;
  src: url('./fonts/BlitzMain.otf');
}

body {
  margin: 0;
  font-family: Splatoon, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* { box-sizing: border-box; }